# dbuild
build
*.elf
*.img
*.list
*.map
*.bak

# Kconfig
.config
.config.old
bt_bsp_config.h
scripts/mkconfig/mkconfig
.dbuild/scripts/mkconfig/mkconfig

# TeX Intermediates
doc/*.aux
doc/*.log
doc/*.toc
doc/*.pdf

# Git
.gitignore

# Eclipse Projects
.cproject
.project

# Emacs
*~
\#*\#
.\#*
