#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

mainmenu "BitThunder Configuration"

config CONFIGURED
    bool
	default y

config APP_CONFIG
    bool
	option env="APP_CONFIG"
	default n

config APP_DIR
    string
	default "scripts" if !APP_CONFIG
    option env="APP_DIR"

config APP_BSP_CONFIG
    bool
	option env="APP_BSP_CONFIG"
	default n

config APP_BSP_DIR
    string
	default "bsp" if !APP_BSP_CONFIG
    option env="APP_BSP_DIR"


choice
	prompt "Build OS or Library"
	default OS

config OS
	bool "OS"

config LIB
    bool "Library"

endchoice


menu "Build System (dbuild)"

choice
	prompt "Build Host Platform"
	default HOST_LINUX

config HOST_LINUX
	bool "Linux"

config HOST_WINDOWS
	bool "Windows"

config HOST_OTHER
	bool "Other"

endchoice

config TOOLCHAIN
    string "Toolchain prefix"

choice
	prompt "Optimisation Level"
	default OPTIMISE_NONE

config OPTIMISE_NONE
	bool "No Optimisations"

config OPTIMISE_SIZE
    bool "Optimise for size"


endchoice

config TOOLCHAIN_OPTIMISATION
    string
	default "-Os" if OPTIMISE_SIZE
	default "-O0" if OPTIMISE_NONE

config TOOLCHAIN_DEBUG
    bool "Debug Symbols"
	default y

config TOOLCHAIN_DEBUG_FLAGS
	string
	default "-g" if TOOLCHAIN_DEBUG


choice
	prompt "Windows Build Environment"
	default WINDOWS_CYGWIN
	depends on HOST_WINDOWS

config WINDOWS_NATIVE
	bool "Windows Native"
	---help---
		Build natively in a CMD.exe environment with Windows style paths (like C:\cgywin\home)

config WINDOWS_CYGWIN
	bool "Cygwin"
	---help---
		Build natively in a Cygwin environment with POSIX style paths (like /cygdrive/c/cgywin/home)

config WINDOWS_MSYS
	bool "MSYS"
	---help---
		Build natively in a Cygwin environment with POSIX style paths (like /cygdrive/c/cgywin/home)

config WINDOWS_OTHER
	bool "Windows POSIX-like environment"
	---help---
		Build natively in another POSIX-like environment.  Additional support may be necessary

endchoice

menu "Build Configuration"

endmenu

endmenu

menu "System Architecture"
source "arch/Kconfig"
endmenu

menu "BSP Setup"
source "$APP_BSP_DIR/Kconfig"
endmenu


menu "OS Features"
depends on OS
source "os/Kconfig"
endmenu

menu "Drivers"
source "drivers/Kconfig"
endmenu

menu "Kernel Options"
source kernel/Kconfig
endmenu

if APP_CONFIG
menu "Application Configuration"
source "$APP_DIR/Kconfig"
endmenu
endif
