comment "BCM2835 Platform Options"

config MACH_BCM2835_PLATFORM
    bool
	default y
	select ARCH_ARM_ARM11
	select ARCH_ARM_IRQ_STACK
	select HAS_MMU


config MACH_BCM2835_SYSCLOCK_FREQ
	int "System clock frequency"
	default 250000000


menu "Peripheral Selection"

endmenu

choice
	prompt "Boot Logger Device"
	default MACH_BCM2835_BOOTLOG_NULL

config MACH_BCM2835_BOOTLOG_NULL
    bool "/dev/null"

endchoice

config MACH_BCM2835_TOTAL_IRQ
    int
	default 72
