menu "Memory Management"

config MEM_PAGE_ALLOCATOR
	bool "Page Based Allocation"
	default n

config MEM_PAGE_COHERENT_POOL
	bool "Coherent Memory Pool (for use by DMA devices)"
	default n
	---help---
	This pool is for use by drivers when the virtual memory manager is not available.
	It allows them to get a coarse-grain configured region of non-cached and coherent memory.

config MEM_PAGE_COHERENT_LENGTH
	hex "Coherent length"
	default 0x00100000
	depends on MEM_PAGE_COHERENT_POOL
	---help---
	Note. The length here will be rounded to your system's section size.

config MEM_KHEAP
    bool
	default y if !MEM_PAGE_ALLOCATOR
	default n if MEM_PAGE_ALLOCATOR

config MEM_SLAB_ALLOCATOR
	bool
    depends on MEM_PAGE_ALLOCATOR
	default y

config MEM_SLAB_MAX_ORDER
	int "Slab Max order"
	depends on MEM_SLAB_ALLOCATOR
	default 16
	---help---
	1 = 16 bytes, 10 = 8192 bytes, 16 = 512k.
	Allocation requests with greater orders will be passed to the page allocator.

config USE_VIRTUAL_ADDRESSING
    depends on HAS_MMU
	bool "Virtual Memory Support"
	default n
	select MEM_PAGE_ALLOCATOR

config RAM_PHYS
	depends on HAS_MMU
	hex
	default (LINKER_RAM_START_ADDRESS)

config RAM_VIRT
    depends on HAS_MMU
	hex
	default 0xC0000000 if USE_VIRTUAL_ADDRESSING
	default 0x0

config TRACE_MALLOC
	bool "Trace calls to BT_kMalloc() / BT_kFree()"
	default n


endmenu
