#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_ARM
comment "ARM Options"

choice
	prompt "ARM chip selection"
	default MACH_ZYNQ

config MACH_BCM2835
	bool "BCM2835 (Raspberryi Pi)"
	select ARCH_ARM_ARM11

config MACH_IMX
	bool "IMX (6) Freescale"
	select ARCH_ARM_CORTEX_A9
	select ARCH_HAVE_FPU

config MACH_LPC11xx
	bool "LPC11xx Series"
	select ARCH_ARM_CORTEX_M0

config MACH_LPC17xx
	bool "LPC17xx Series"
	select ARCH_ARM_CORTEX_M3

config MACH_STM32
	bool "STM32"
	select ARCH_ARM_CORTEX_M3

config MACH_LM3Sxx
	bool "LM3Sxx Series"
	select ARCH_ARM_CORTEX_M3
	---help---
		TI Stellaris architectures (ARM Cortex-M3).

config MACH_ZYNQ
	bool "ZYNQ"
	select ARCH_ARM_CORTEX_A9
	select ARCH_HAVE_FPU
	---help---
		Xilinx Zynq Embedded processing platform

endchoice

config ARCH_ARM_CORTEX_M0
	bool
	select ARCH_IRQPRIO
	select LITTLE_ENDIAN

config ARCH_ARM_CORTEX_M3
	bool
	select ARCH_IRQPRIO
	select ARCH_HAVE_RAMVECTORS
	select LITTLE_ENDIAN

config ARCH_ARM_CORTEX_M4
	bool
	select ARCH_IRQPRIO
	select ARCH_HAVE_RAMVECTORS
	select LITTLE_ENDIAN

config ARCH_ARM_CORTEX_A9
    bool
	default n
	select CACHE_MAINTENANCE
	select ARCH_ARM_ARMv7
	select ARCH_ARM_ARMv7_A
	select LITTLE_ENDIAN
	select ARCH_ARM_BOOT

config ARCH_ARM_ARM11
    bool
    select LITTLE_ENDIAN
	select ARCH_ARM_BOOT
	select ARCH_ARM_ARMv6

config ARCH_ARM_ARMv6
	bool
	default n
	select LITTLE_ENDIAN
	select ARCH_ARM_BOOT

config ARCH_ARM_ARMv7
	bool
	default n

config ARCH_ARM_ARMv7_A
    bool
 	default n
 	select LITTLE_ENDIAN
 	select ARCH_ARM_BOOT
 	select ARCH_ARM_ARMv7

config ARCH_ARM_FAMILY
	string
	default "arm"		if ARCH_ARM_ARM7TDMI || ARCH_ARM_ARM926EJS || ARCH_ARM_ARM920T
	default "armv6"		if ARCH_ARM_ARM11
	default "armv6-m"	if ARCH_ARM_CORTEX_M0
	default "armv7-m"	if ARCH_ARM_CORTEX_M3 || ARCH_ARM_CORTEX_M4
	default "armv7-a"	if ARCH_ARM_ARMv7_A

config TOOLCHAIN_CPU
	string
	default "cortex-m0"		if ARCH_ARM_CORTEX_M0
	default "cortex-m3"		if ARCH_ARM_CORTEX_M3
	default "cortex-m4"		if ARCH_ARM_CORTEX_M4
	default "cortex-a9"		if ARCH_ARM_CORTEX_A9
	default "arm1176jzf-s"	if ARCH_ARM_ARM11

choice
	prompt "Floating point ABI"
	default TOOLCHAIN_FLOAT_SOFT

config TOOLCHAIN_FLOAT_HARD
	bool "hardfp"

config TOOLCHAIN_FLOAT_SOFTFP
	bool "softfp"

config TOOLCHAIN_FLOAT_SOFT
	bool "soft"

endchoice

config TOOLCHAIN_MACH_FLAGS
    string
	default "-mthumb -mcpu=cortex-m0" if ARCH_ARM_CORTEX_M0
	default "-mthumb -mcpu=cortex-m3" if ARCH_ARM_CORTEX_M3
	default "-mthumb" if ARCH_ARM_CORTEX_M4
	default "-mthumb -mthumb-interwork" if ARCH_ARM_THUMB
	default ""

config TOOLCHAIN_MFPU
	string
	default "-mfpu=neon" if ARCH_ARM_HAS_NEON

config TOOLCHAIN_FPU_ABI
	string
	default "-mfloat-abi=soft" if TOOLCHAIN_FLOAT_SOFT
	default "-mfloat-abi=softfp" if TOOLCHAIN_FLOAT_SOFTFP
	default "-mfloat-abi=hard" if TOOLCHAIN_FLOAT_HARD

config ARCH_ARM_HAS_NEON
	bool
	default n

config ARCH_ARM_BOOT
    bool
	default n

config ARCH_ARM_FPU
	bool "FPU support"
	default y
	depends on ARCH_CORTEXM4
	---help---
		Build in support for the ARM Cortex-M4 Floating Point Unit (FPU).
		Check your chip specifications first; not all Cortex-M4 chips support the FPU.

config ARCH_HAVE_MPU
	bool
	default n

config ARCH_HAVE_MMU
	bool

if ARCH_ARM_CORTEX_A9

config KERNEL_FREERTOS_CA9_MODERN_PORT
	bool "Modern FreeRTOS CA9 port (experimental)"
	default n

endif

source arch/arm/common/Kconfig

if MACH_STM32
source arch/arm/mach/stm32/Kconfig
endif

if MACH_LPC11xx
source arch/arm/mach/lpc11xx/Kconfig
endif

if MACH_LPC17xx
source arch/arm/mach/lpc17xx/Kconfig
endif

if MACH_LM3Sxx
source arch/arm/mach/lm3sxx/Kconfig
endif

if MACH_BCM2835
source arch/arm/mach/bcm2835/Kconfig
endif

if MACH_IMX
source arch/arm/mach/imx/Kconfig
endif

if MACH_ZYNQ
source arch/arm/mach/zynq/Kconfig
endif

config SUBARCH
    string
	default "bcm2835" if MACH_BCM2835
	default "imx"	  if MACH_IMX
	default "lpc11xx" if MACH_LPC11xx
	default "lpc17xx" if MACH_LPC17xx
	default "lm3sxx"  if MACH_LM3Sxx
	default "stm32"   if MACH_STM32
	default "zynq"	  if MACH_ZYNQ
endif

menu "Memory"
    source arch/arm/Kconfig.linker
endmenu

config ARCH_ARM_FULL_INIT
    bool "Full CPU initialisation"
	default n

config ARCH_ARM_THUMB
	bool "Compile with thumb"
	default n

config ARCH_ARM_THUMB_INTERWORK
	bool
	default y if ARCH_ARM_CORTEX_A9
	default n

config KERNEL_CFLAGS_REMOVE
	string
	default "-mthumb" if ARCH_ARM_THUMB && ARCH_ARM_THUMB_INTERWORK
	default "" if !ARCH_ARM_THUMB
