comment "Raspberry Pi Options"

config BSP_ARM_RASPBERRY_PI_SD
    bool "Board supports  SD-Card"
	select DRIVERS_SDIO	  if OS

config BSP_DIR
	   string
	   default "bsp/arm/raspberrypi/"

config BSP_NAME
	   string
	   default "Raspberry Pi"
