choice
	prompt		"BSP Selection"

	config BSP_ARM_LPCEXPRESSO_LPC11c24
	  depends on ARCH_ARM && MACH_LPC11xx
	  bool "LPC11c24 Expresso Board"

	config BSP_ARM_LPCEXPRESSO_LPC1769
	  depends on ARCH_ARM && MACH_LPC17xx
	  bool "LPC1769 Expresso Board"

	config BSP_ARM_LPCEXPRESSO_LM3S9B92
	  depends on ARCH_ARM && MACH_LM3Sxx
	  bool "LM3SBb92"

	config BSP_ARM_RASPBERRY_PI
	  depends on ARCH_ARM && MACH_BCM2835
	  bool "Raspberry Pi"

	config BSP_ARM_ZYNQ_ZED_BOARD
	  depends on ARCH_ARM && MACH_ZYNQ
	  bool "Zynq ZED_BOARD"

endchoice

if BSP_ARM_LPCEXPRESSO_LPC11c24
source bsp/arm/lpcexpresso/11c24/Kconfig
endif

if BSP_ARM_LPCEXPRESSO_LPC1769
source bsp/arm/lpcexpresso/1769/Kconfig
endif

if BSP_ARM_LPCEXPRESSO_LM3S9B92
source bsp/arm/cortex-m3/lm3s9b92/Kconfig
endif

if BSP_ARM_RASPBERRY_PI
source bsp/arm/raspberrypi/Kconfig
endif

if BSP_ARM_ZYNQ_ZED_BOARD
source bsp/arm/zynq/zed-board/Kconfig
endif
