choice
	prompt "Kernel/Scheduler selection"
	default KERNEL_FREERTOS

config KERNEL_NONE
    bool "Standalone single-threaded application"
	---help---
	This option allows you to use basic drivers that don't rely on the scheduler
	to create simple single-thread and interrupt driven applications.
	Selecting this option allows you to create a truly tiny bitthunder application.

config KERNEL_FREERTOS
    bool "FreeRTOS Real-time scheduler"

config KERNEL_BT
	bool "BT Kernel (experimental)"

endchoice

if KERNEL_FREERTOS
comment "FreeRTOS Specific options"
source kernel/FreeRTOS/Kconfig
endif

config KERNEL_TICK_RATE
    int "Kernel Tick Frequency (Hz)"
	default 1000

config KERNEL_SYMBOLS
	bool "Generate a Kernel Symbol Table"
	---help---
	Allows loading of loadable kernel modules, and debug information.
