config LINKER_MEMORY_DEFINED
	bool
	default n

config LINKER_MACH_FLASH
	bool
	default n

config LINKER_MACH_SRAM
	bool
	default n

config LINKER_MACH_RAM
	bool
	default n

config LINKER_MACH_INIT_SECTION_IN_FLASH
	bool
	default n

config LINKER_MACH_INIT_SECTION_IN_SRAM
	bool
	default n

config LINKER_MACH_INIT_SECTION_IN_RAM
	bool
	default n

config LINKER_MACH_TEXT_SECTION_IN_FLASH
	bool
	default n

config LINKER_MACH_TEXT_SECTION_IN_SRAM
	bool
	default n

config LINKER_MACH_TEXT_SECTION_IN_RAM
	bool
	default n

config LINKER_MACH_DATA_SECTION_IN_FLASH
	bool
	default n

config LINKER_MACH_DATA_SECTION_IN_SRAM
	bool
	default n

config LINKER_MACH_DATA_SECTION_IN_RAM
	bool
	default n

config LINKER_MACH_BSS_SECTION_IN_FLASH
	bool
	default n

config LINKER_MACH_BSS_SECTION_IN_SRAM
	bool
	default n

config LINKER_MACH_BSS_SECTION_IN_RAM
	bool
	default n

config LINKER_SECTION_FLASH
    bool "Flash / ROM Section"
    default LINKER_MACH_FLASH if LINKER_MEMORY_DEFINED
	default n

config LINKER_FLASH_START_ADDRESS
    hex "Flash start address (physical)"
	default MACH_FLASH_START if LINKER_MEMORY_DEFINED
	default 0x0
	depends on LINKER_SECTION_FLASH

config LINKER_FLASH_LENGTH
    hex "Flash length (bytes)"
	default MACH_FLASH_SIZE if LINKER_MEMORY_DEFINED
	default 0x0
	depends on LINKER_SECTION_FLASH

config LINKER_FLASH_RESERVED
	hex "Reserve Flash Memory for e.g. bootloader"
	default 0x0

config LINKER_SECTION_SRAM
    bool "SRAM / On-chip-memory section"
	default LINKER_MACH_SRAM if LINKER_MEMORY_DEFINED
	default n

config LINKER_SRAM_START_ADDRESS
    hex "SRAM begin address (physical)"
	default MACH_SRAM_START if LINKER_MEMORY_DEFINED
	default 0x0
	depends on LINKER_SECTION_SRAM

config LINKER_SRAM_LENGTH
    hex "SRAM length"
	default MACH_SRAM_SIZE if LINKER_MEMORY_DEFINED
	default 0x0
	depends on LINKER_SECTION_SRAM

config LINKER_SRAM_RESERVED
	hex "Reserve SRAM Memory for e.g. bootloader"
	default 0x0

config LINKER_HEAP_DOWN
	hex "Move HEAP down by xx bytes"
	default 0x0


config LINKER_SECTION_RAM
    bool "RAM (external DDR) section"
    default LINKER_MACH_RAM if LINKER_MEMORY_DEFINED
	default n

config LINKER_RAM_START_ADDRESS
    hex "RAM start address (physical)"
	default MACH_RAM_START if LINKER_MEMORY_DEFINED
	default 0x0
	depends on LINKER_SECTION_RAM

config LINKER_RAM_LENGTH
    hex "RAM length"
	default MACH_RAM_SIZE if LINKER_MEMORY_DEFINED
	default 0x0
	depends on LINKER_SECTION_RAM

choice LINKER_INIT_SECTION
    prompt "Init Section"
    default LINKER_INIT_SECTION_FLASH if LINKER_MACH_INIT_SECTION_IN_FLASH
    default LINKER_INIT_SECTION_SRAM  if LINKER_MACH_INIT_SECTION_IN_SRAM
    default LINKER_INIT_SECTION_RAM   if LINKER_MACH_INIT_SECTION_IN_RAM
    default LINKER_INIT_SECTION_FLASH

config LINKER_INIT_SECTION_FLASH
    bool "Flash"
	depends on LINKER_SECTION_FLASH

config LINKER_INIT_SECTION_SRAM
    bool "SRAM"
	depends on LINKER_SECTION_SRAM

config LINKER_INIT_SECTION_RAM
    bool "RAM"
	depends on LINKER_SECTION_RAM

endchoice

choice LINKER_TEXT_SECTION
    prompt "Text Section"
    default LINKER_TEXT_SECTION_FLASH if LINKER_MACH_TEXT_SECTION_IN_FLASH
    default LINKER_TEXT_SECTION_SRAM  if LINKER_MACH_TEXT_SECTION_IN_SRAM
    default LINKER_TEXT_SECTION_RAM   if LINKER_MACH_TEXT_SECTION_IN_RAM
    default LINKER_TEXT_SECTION_FLASH

config LINKER_TEXT_SECTION_FLASH
    bool "Flash"
	depends on LINKER_SECTION_FLASH

config LINKER_TEXT_SECTION_SRAM
    bool "SRAM"
	depends on LINKER_SECTION_SRAM

config LINKER_TEXT_SECTION_RAM
    bool "RAM"
	depends on LINKER_SECTION_RAM

endchoice

choice LINKER_DATA_SECTION
    prompt "Data Section"
    default LINKER_DATA_SECTION_FLASH if LINKER_MACH_DATA_SECTION_IN_FLASH
    default LINKER_DATA_SECTION_SRAM  if LINKER_MACH_DATA_SECTION_IN_SRAM
    default LINKER_DATA_SECTION_RAM   if LINKER_MACH_DATA_SECTION_IN_RAM
    default LINKER_DATA_SECTION_FLASH

config LINKER_DATA_SECTION_FLASH
    bool "Flash"
	depends on LINKER_SECTION_FLASH

config LINKER_DATA_SECTION_SRAM
    bool "SRAM"
	depends on LINKER_SECTION_SRAM

config LINKER_DATA_SECTION_RAM
    bool "RAM"
	depends on LINKER_SECTION_RAM

endchoice

choice LINKER_BSS_SECTION
    prompt "BSS Section"
    default LINKER_BSS_SECTION_FLASH if LINKER_MACH_BSS_SECTION_IN_FLASH
    default LINKER_BSS_SECTION_SRAM  if LINKER_MACH_BSS_SECTION_IN_SRAM
    default LINKER_BSS_SECTION_RAM   if LINKER_MACH_BSS_SECTION_IN_RAM
    default LINKER_BSS_SECTION_SRAM

config LINKER_BSS_SECTION_FLASH
    bool "Flash"
	depends on LINKER_SECTION_FLASH

config LINKER_BSS_SECTION_SRAM
    bool "SRAM"
	depends on LINKER_SECTION_SRAM

config LINKER_BSS_SECTION_RAM
    bool "RAM"
	depends on LINKER_SECTION_RAM

endchoice

config LINKER_STACK_SIZE
    hex "Inital Stack Size"
	default 0x100

config ARCH_ARM_IRQ_STACK
    bool
	default n

config LINKER_IRQ_STACK_SIZE
	hex "IRQ Stack Size"
	default 0x0 if!ARCH_ARM_IRQ_STACK
	default 0x100
