source os/src/process/Kconfig
source os/src/gpio/Kconfig
source os/src/interrupts/Kconfig
source os/src/fs/Kconfig
source os/src/net/Kconfig
source os/src/mm/Kconfig
source os/src/shell/Kconfig
source os/src/syslog/Kconfig
source os/src/lib/Kconfig

config OF
	bool "Support Device Tree / Open Firmware framework"
	default n

config CACHE_MAINTENANCE
	bool
	default n

config MAIN_TASK_STACK_DEPTH
    int "Main task stack depth"
	default 512

config MAIN_TASK_PRIORITY
    int "Main task stack priority"
	default 0

config BLOCK
    bool "Block device support"
	default n

config VOLUME
    bool "Volume / Partition Manager"
	default n

config FILE
    bool "File I/O interfaces"
	select FS
	default n

config DIR
    bool "Directory I/O interfaces"
	default n

config I2C
    bool "I2C subsystem"
	default n

config SPI
	bool "SPI subsystem"
	default n

config THREADS
    bool
	default y
	depends on !KERNEL_NONE
	depends on OS

config PROCESS
    bool
	default y
	depends on !KERNEL_NONE
	depends on OS

config TIMERS
	bool
	default y
	depends on !KERNEL_NONE
	depends on OS
