source os/src/process/Kconfig
source os/src/gpio/Kconfig
source os/src/interrupts/Kconfig
source os/src/fs/Kconfig
source os/src/loader/Kconfig
source os/src/net/Kconfig
source os/src/mm/Kconfig
source os/src/shell/Kconfig
source os/src/syscall/Kconfig
source os/src/syslog/Kconfig
source os/src/time/Kconfig
source os/src/lib/Kconfig

config OF
	bool "Support Device Tree / Open Firmware framework"
	select FS_DEV_DYNAMIC_REGISTRATION
	default n

config CACHE_MAINTENANCE
	bool
	default n

config MAIN_TASK_STACK_DEPTH
    int "Main task stack depth"
	default 512

config MAIN_TASK_PRIORITY
    int "Main task stack priority"
	default 0

config INHERIT_STDIO_FROM_KERNEL
	bool "Inherit STDIO file descriptors from kernel."
	default y
	---help---
	Leave the stdin/stdout file descriptors used as the boot-logger open before starting
	the main process. The main process will then inherit these file-descriptors.

config MULTITHREADED_INIT
	bool "Multi-threaded Init"
	default y

choice
	prompt "Kernel init Behaviour"
	default INIT_WELCOME
	---help---
	The kernel init behaviour effectively defines what happens in the Kernel's main()
	function implementation. All options will be overridden if a project provides it's
	owm main() function in the kernel build.

config INIT_WELCOME
	bool "Welcome Message"
    ---help---
	Prints "Welcome to BitThunder" every second. This is used for getting started and testing
	purposes.

config INIT_SHELL
    bool "Kernel Shell"
	---help---
	Provide an interactive kernel shell on the stdin/stdout boot-console. This is useful
	for some embedded projects like bootloaders.

config INIT_FORK
	bool "Fork /system/init"
	---help---
	Forks an executable in /system/init, i.e. a typical init process. This init option is only
	compatible with MMU based systems.

endchoice

menu "Subsystems"
config BLOCK
    bool "Block device support"
	default n

config BLOCK_SCHEDULER
	bool "Block device manager to use an I/O scheduler"
	default n

config BLOCK_SCHEDULER_THREAD_PER_DEVICE
	bool "Scheduler thread per device"
	default n

config VOLUME
    bool "Volume / Partition Manager"
	default n

config FILE
    bool
	select FS
	default y

config DIR
    bool "Directory I/O interfaces"
	default n

config I2C
    bool "I2C subsystem"
	select SOFTIRQ
	select TASKLETS
	default n

config ADC
    bool "ADC subsystem"
	default n

config DAC
    bool "DAC subsystem"
	default n

config QEI
    bool "QEI subsystem"
	default n

config MCPWM
    bool "MCPWM subsystem"
	default n

config PWM
    bool "PWM subsystem"
	default n

config TIMER
    bool "Timer subsystem"
	default n

config MTD
    bool "MTD subsystem"
    default n

source os/src/rtc/Kconfig

config SPI
	bool "SPI subsystem"
	default n

config CAN
    bool "CAN subsystem"
	default n

config UART
 	bool "UART subsystem"
	default y

endmenu

config THREADS
    bool
	default y
	depends on !KERNEL_NONE
	depends on OS

config PROCESS
    bool
	default y
	depends on !KERNEL_NONE
	depends on OS

config TIMERS
	bool
	default y
	depends on !KERNEL_NONE
	depends on OS
