comment "Configure all required driver sub-systems"


source drivers/gpio/Kconfig

config DRIVERS_SDCARD
    bool "SDCard / MMC Support"
	default n
	select TASKLETS
	select SOFTIRQ

if DRIVERS_SDCARD
source drivers/mmc/Kconfig
endif
