comment "Configure all required driver sub-systems"

source drivers/block/Kconfig

source drivers/gpio/Kconfig

source drivers/mtd/Kconfig

source drivers/rtc/Kconfig

source drivers/net/Kconfig

source drivers/mmc/Kconfig

