comment "STM32 Platform Options"

config MACH_STM32_PLATFORM
	bool
	default y
    select LINKER_MACH_BSS_SECTION_IN_SRAM

config ARCH_ARM_SYSTICK_SRC0_DIV
    int
    default 8

choice
	prompt "systick clock source"
	default MACH_STM32_SYSTICK_PROCESSOR_CLOCK

config MACH_STM32_SYSTICK_PROCESSOR_CLOCK
	bool "processor clock"

config MACH_STM32_SYSTICK_EXTERNAL_CLOCK
	bool "processor/2 clock"

endchoice

config ARCH_ARM_SYSTICK_CLKSRC
	hex
	default 0x00 if MACH_STM32_SYSTICK_EXTERNAL_CLOCK
	default 0x04 if MACH_STM32_SYSTICK_PROCESSOR_CLOCK


#
#	This needs to be changed dependent on the chip variant.
#
config MACH_STM32_TOTAL_GPIOS
    int
	default 80

#
#	These have been added here as quick hacks.
#
config MACH_STM32_GPIO_BASE
    hex
	default 0x40010800
