menu "Filesystems"

config FS
    bool
	default n

config INODE
    bool
	default n

config FS_DEV_DYNAMIC_REGISTRATION
	bool "Dynamic DEVFS registration"
	default n
	select FS
	select INODE

config FS_FULLFAT
    bool "FAT filesystem support (FullFAT)"
	select FS
	select BLOCK
	select VOLUME
	default n

menu "FullFAT Configuration"
    depends on FS_FULLFAT

config FS_FULLFAT_LFN_SUPPORT
    bool "LFN (Long filename) Support"
	default y

choice
	prompt "Allocation Algorithm"
	default FS_FULLFAT_ALLOC_DEFAULT

config FS_FULLFAT_ALLOC_DEFAULT
    bool "Default"

config FS_FULLFAT_ALLOC_DOUBLE
    bool "Double"

endchoice

config FS_FULLFAT_CACHE_SIZE
	int "size of block chache"
	default 8192

config FS_FULLFAT_DRIVER_BUSY_SLEEP
	int "Driver busy sleep time"
	default 20

endmenu

config FS_EXT2
    bool "Ext2 filesystem support (Read Only)"
	select FS
	select BLOCK
	select VOLUME
	default n

endmenu
