menu "Commands"

config SHELL_CMD_ATAGS
	bool "ATAG Support"
	depends on SHELL
	default n

if SHELL_CMD_ATAGS
source os/src/shell/commands/atag/Kconfig
endif

config SHELL_CMD_BOOT
    bool "boot"
	depends on SHELL
	default n

config SHELL_CMD_BOOT_JTAG
    bool "boot_jtag"
	depends on SHELL
	default n

config SHELL_CMD_CAT
	bool "cat"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_CD
    bool "cd"
	depends on SHELL
	depends on PROCESS_CWD
	default n
	select FILE

config SHELL_CMD_CP
    bool "cp"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_CP_BUFFER_SIZE
	int "cp buffer size"
	depends on SHELL_CMD_CP
	default 4096

config SHELL_CMD_ECHO
	bool "echo"
	depends on SHELL
	default n

config SHELL_CMD_EXEC
	bool "exec"
	depends on SHELL
	default n

config SHELL_CMD_FLASHTOOL
	bool "flashtool"
	depends on SHELL
	default n

config SHELL_CMD_FREE
	bool "free"
	depends on SHELL
	default n

config SHELL_CMD_GETENV
	bool "getenv"
	depends on SHELL
	default n

config SHELL_CMD_GPIO
	bool "gpio"
	depends on SHELL
	default n

config SHELL_CMD_HELP
    bool "help"
	depends on SHELL
	default n

config SHELL_CMD_IOMEM
	bool "iomem"
	depends on SHELL
	default n

config SHELL_CMD_LOAD
    bool "load"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_LOAD_FPGA
    bool "load_fpga"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_LS
	bool "ls"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_MD5SUM
	bool "md5sum"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_MEMCAT
	bool "memcat"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_MOUNT
	bool "mount"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_PS
	bool "ps"
	depends on SHELL
	default n

config SHELL_CMD_PWD
	bool "pwd"
	depends on SHELL
	depends on PROCESS_CWD
	default n

config SHELL_CMD_SETENV
	bool "setenv"
	depends on SHELL
	default n

config SHELL_CMD_SLABTOP
	bool "slabtop"
	depends on SHELL
	default n

config SHELL_CMD_SLEEP
	bool "sleep"
	depends on SHELL
	default n

config SHELL_CMD_SOURCE
	bool "source"
	depends on SHELL
	default n
	select FILE

config SHELL_CMD_TFTP
	bool "tftp"
	depends on SHELL
	default n

endmenu
