menu "Commands"

config SHELL_CMD_BOOT
    bool "boot"
	depends on SHELL
	default n

config SHELL_CMD_BOOT_JTAG
    bool "boot_jtag"
	depends on SHELL
	default n

config SHELL_CMD_ECHO
	bool "echo"
	depends on SHELL
	default n

config SHELL_CMD_GPIO
	bool "gpio"
	depends on SHELL
	default n

config SHELL_CMD_HELP
    bool "help"
	depends on SHELL
	default n

config SHELL_CMD_LOAD
    bool "load"
	depends on SHELL
	default n

config SHELL_CMD_LOAD_FPGA
    bool "load_fpga"
	depends on SHELL
	default n

config SHELL_CMD_SETENV
	bool "setenv"
	depends on SHELL
	default n

config SHELL_CMD_ATAGS
	bool "ATAG Support"
	default n

if SHELL_CMD_ATAGS
source os/src/shell/commands/atag/Kconfig
endif

config SHELL_CMD_SOURCE
	bool "Source (command to execute other scripts)"
	default n

config SHELL_CMD_IOMEM
	bool "IOMEM"
	default n

config SHELL_CMD_LS
	bool "ls"
	default n

config SHELL_CMD_CAT
	bool "cat"
	default n

config SHELL_CMD_MOUNT
	bool "mount"
	default n

endmenu
