menu "Syslog"

config SYSLOG_REMOVE_PRINTK
    bool "Remove all calls to BT_kPrint()"
	default n	 if LIB_PRINTF
	default y	 if !LIB_PRINTF

config SYSLOG_SYSTICK
    bool "Use SysTick Timer for BT_kPrint() outputs"
    default n


choice SYSLOG_LINE_ENDINGS
    prompt "kPrint line endings"
	default SYSLOG_LINE_ENDINGS_LF

config SYSLOG_LINE_ENDINGS_CR
    bool "Carriage Return (\"\\n\")"

config SYSLOG_LINE_ENDINGS_LF
    bool "Line Feed (\"\\r\")"

config SYSLOG_LINE_ENDINGS_CRLF
    bool "CRLF (\"\\n\\r\")"

config SYSLOG_LINE_ENDINGS_LFCR
    bool "LFCR (\"\\r\\n\")"

endchoice


endmenu
