comment "LPC11xx Platform Options"

choice
	prompt "LPC11xx Chip Variant"
	default MACH_LPC11xx_LPC11C24

config MACH_LPC11xx_LPC11C24
    bool "LPC11C24"

endchoice


config ARCH_ARM_SYSTICK_SRC0_DIV
    int
    default 2

menu "Peripheral Selection"

comment "CAN devices"
config MACH_LPC11xx_CAN_0
    bool "Use CAN(0) peripheral"
	default n

config MACH_LPC11xx_CAN_0_INODE_NAME
	string "CAN(0) devfs name"
	default "can0"
	depends on MACH_LPC11xx_CAN_0

comment "UART devices"
config MACH_LPC11xx_UART_0
    bool "Use UART(0) peripheral"
	default n

config MACH_LPC11xx_UART_0_INODE_NAME
	string "UART(0) devfs name"
	default "uart0"
	depends on MACH_LPC11xx_UART_0

comment "TIMER devices"
config MACH_LPC11xx_TIMER_0
    bool "Use TIMER(0) peripheral"
	default n

config MACH_LPC11xx_TIMER_0_INODE_NAME
	string "TIMER(0) devfs name"
	default "timer0"
	depends on MACH_LPC11xx_TIMER_0

config MACH_LPC11xx_TIMER_1
    bool "Use TIMER(1) peripheral"
	default n

config MACH_LPC11xx_TIMER_1_INODE_NAME
	string "TIMER(1) devfs name"
	default "timer1"
	depends on MACH_LPC11xx_TIMER_1

config MACH_LPC11xx_TIMER_2
    bool "Use TIMER(2) peripheral"
	default n

config MACH_LPC11xx_TIMER_2_INODE_NAME
	string "TIMER(2) devfs name"
	default "timer2"
	depends on MACH_LPC11xx_TIMER_2

config MACH_LPC11xx_TIMER_3
    bool "Use TIMER(3) peripheral"
	default n

config MACH_LPC11xx_TIMER_3_INODE_NAME
	string "TIMER(3) devfs name"
	default "timer3"
	depends on MACH_LPC11xx_TIMER_3

endmenu

choice
	prompt "Boot Logger Device"
	default MACH_LPC11xx_BOOTLOG_NULL

config MACH_LPC11xx_BOOTLOG_UART_0
    bool "UART(0)"
	select MACH_LPC11xx_UART_0

config MACH_LPC11xx_BOOTLOG_NULL
    bool "/dev/null"

endchoice
    