comment "Zynq Zed Board Options"

config BSP_ARM_ZYNQ_ZED_BOARD_SD
    bool "Board supports  SD-Card"
	select DRIVERS_SDIO	  if OS

config BSP_DIR
	   string
	   default "bsp/arm/zynq/zed-board/"

config BSP_NAME
	   string
	   default "Zynq Zed Board"
